<%= render 'top' %>
        <div class="col-sm-8 col-md-9 dw_main">
          <h1><%= @item[:title] %></h1>
          <%= yield %>
        </div> <!-- /col-sm-9 col-md-10 -->

        <div class="col-sm-4 col-md-3">
          <%= render 'rerCategTagList' %>
          <%= if @item[:rerCat] == 'Index'
            render 'book'
          end %>      
        </div>
      </div> <!--/row-->

      <div class="row">
        <div class="col toplink">
          <%= render 'toplink' %>
        </div> <!--/col-->
      </div> <!--/row-->
      
      <div class="row">
        <div class="col footer">
          <%= render 'footer' %>
        </div> <!-- /col -->
      </div> <!-- /row -->
    </div><!-- /container-fluid -->
<%= render 'bottom' %>
