<%= render 'top' %>
        <div class="col-sm-4 col-md-2 dw_sidebar">
          <%= render 'rerPostList' %>
          <hr />
          <%= render 'rerCategTagList' %>
        </div> <!-- /col-sm-4 col-md-2 -->

        <div class="col-sm-8 col-md-10 dw_main">
          <h1><%= @item[:title] %></h1>
          <%= yield %>
        </div> <!-- /col-sm-8 col-md-10 -->
      </div> <!--/row-->

      <div class="row">
        <div class="col toplink">
          <%= render 'toplink' %>
        </div> <!--/col-->
      </div> <!--/row-->

      <div class="row">
        <div class="col footer">
          <%= render 'footer' %>
        </div> <!-- /col footer -->
      </div> <!-- /row -->
    </div><!-- /container-fluid -->
<%= render 'bottom' %>
