<!-- ### rerCategTagList include starts ### -->
    <ul class="nav flex-column">
      <li class="dropdown-header">Tags</li>
      <% if @item[:tags].nil? %>
      <li class="nav-item"><a class="nav-link" href="<%= @config[:base_url] + @config[:rer][:tagsPath] %>">Tag-list</a></li>
      <% else %>
      <li><ul class="nav nav-list">
        <% for @tag in @item[:tags] %>
        <li class="nav-item"><a class="nav-link" href="<%= @config[:base_url] + @config[:rer][:tagsPath] %>#<%= @tag %>-ref"><%= @tag %></a></li>
        <% end %>
      </ul></li>
      <% end %>
    </ul>
    <!-- ### rerCategTagList include ends ### -->
