<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= @item[:title] %></title>
    <meta name="author" content="Daniel Wollschlaeger">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="<%= @config[:base_url] + @config[:rer][:assetPath] %>/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="<%= @config[:base_url] + @config[:rer][:assetPath] %>/css/style.css" rel="stylesheet" type="text/css" media="all">
    <link href="<%= @config[:base_url] + @config[:rer][:assetPath] %>/css/syntax.css" rel="stylesheet" type="text/css" media="all">
  </head>

  <body>
    <%= render 'navbar' %>
    <div class="container-fluid" id="top">
      <div class="row">
      <!-- ### top include ends ### -->
